@layout('emails.master')
@section('content')
<div class="content">
  <h3>Hallo </h3>
  <p>
  We, received a reset password request from your account, plese click on the button bellow to proceed
  </p>
  <p>
    {{ verification_token }}
  </p>
  <a href="{{ baseUrl }}{{ route('reset') }}?email={{ email }}&token={{ code }}" class="button is-info">
    Change your password
  </a>
  <p>
    Thank you.
  </p>
</div>
@endsection
